//
// Customized elements/sections
//

.robin-earbuds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 200ms linear;
    opacity: 0;
}



//
// JS related
//

.js-yt-playing {
    .robin-earbuds {
        opacity: 1;
    }
}

.js-buds-btn {
    position: absolute;
    top: 6%;
    right: 42%;
    z-index: 1;
    width: .625rem;
    height: .625rem;
}

#robinImg {
    max-width: 50%;
}

.js-is-night,
.js-bg-replaced {
    .l-cloud {
        display: none;
    }

    .l-main a:not(.btn) {
        color: gold;
    }

    .l-main {
        .c-list-panelled {
            color: black;

            a {
                color: $color-link;
            }
        }
    }

    #offCanvasTitle {
        color: black;
    }

    .l-body {
        background-color: #111111;
        color: white;
    }

    .l-navbar,
    .l-footer {
        color: black;
    }

    #robinImg,
    #raccoonImg,
    #squirrelImg,
    .js-snooper__mug {
        filter: invert(1);
    }

    hr,
    .c-list-panelled li {
        border-color: rgba(white, .2);
    }
}

.js-bg-replaced {
    .l-body {
        background-color: inherit;
        background-position: center center;
        background-size: cover;
    }
}

.l-header,
.l-navbar .mln__list, {
    transition: all $transition-slide-over-duration $transition-slide-over-ease
}

.js-has-scrolled {
    .l-header {
        opacity: .92;
        box-shadow: 0 0 20px rgba(0, 0, 0, .3);

        &:hover {
            opacity: 1;
        }
    }
}

.js-snooper {
    position: fixed;
    top: 0;
    left: 10vw;
    width: 9.875rem;
    height: 7.125rem;
    transform: translateY(-7rem);
    animation: peekIn 3s ease-in-out 1 forwards;
    animation-delay: 3s;
    transition: left 100ms ease;
}

.js-snooper__binoculars {
    transform: translateY(-.563rem);
    position: absolute;
    top: 3.2rem;
    left: 1.8rem;
    animation: pullUpBinoculars 1s ease-out 1 forwards;
    animation-delay: 6s;
    opacity: 0;
}

@keyframes peekIn {
    0% {
        transform: translateY(-7rem);
    }
    50% {
        transform: translateY(.5rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

@keyframes pullUpBinoculars {
    0% {
        opacity: 0;
        transform: translateY(-5rem);
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(-.2rem);
    }
}

.l-cloud {
    position: fixed;
    top: 10vh;
    left: 38vw;
    transform: translateY(-7rem);
    animation: floating 3s ease-in-out infinite;
    transition: left 100ms ease;
}

.l-cloud--close {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}

.l-cloud--distance {
    width: 15rem;
    top: 23vh;
    left: 8vw;
    animation: floating 4s ease-in-out infinite;
}

.l-cloud--far {
    width: 8rem;
    top: 30vh;
    left: 80vw;
    animation: floating 5s ease-in-out infinite;
}


@keyframes floating {
    0% {
        transform: translateY(-1rem);
    }
    50% {
        opacity: 1;
        transform: translateY(0rem);
    }
    100% {
        transform: translateY(-1rem);
    }
}

.svg-raccoon {
    position: relative;
    height: 57px;
    width: 130px;
    transform: scale(.2);
    transform-origin: 50% bottom;
}

.svg-raccoon__body {
    width: 130px;
}

.svg-raccoon__leg-front,
.svg-raccoon__leg-back {
    position: absolute;
}

.svg-raccoon__leg-front {
    transform-origin: 0 top;
    top: 23px;
    left: 25px;
}

.svg-raccoon__leg-front--left {
    width: 1.25rem;
    height: 2.0625rem;
    animation: leg_left 200ms ease-in-out infinite;
}

.svg-raccoon__leg-front--right {
    width: 1.0625rem;
    height: 1.8125rem;
    animation: leg_right 200ms ease-in-out infinite;
}



.svg-raccoon__leg-back {
    transform-origin: 0 top;
    top: 21px;
    left: 75px;
}

.svg-raccoon__leg-back--left {
    width: 1.25rem;
    height: 2.0625rem;
    animation: leg_left 200ms ease-in-out infinite;
}

.svg-raccoon__leg-back--right {
    top: 1.25rem;
    width: 1.125rem;
    height: 1.8125rem;
    animation: leg_right 200ms ease-in-out infinite;
}

@keyframes leg_right {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

@keyframes leg_left {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}
