//
// Text styles
//

.text-intro {
    font-size: 11vw;
    line-height: 1;

    @media (min-width: 635px) {
        font-size: 9vw;
    }

    @media (min-width: 1200px) {
        font-size: 7vw;
    }

    @media (min-width: 1301px) {
        font-size: 6vw;
    }

    @media (min-width: 1700px) {
        font-size: 7rem;
    }
}

.text-thick {
    font-weight: 900 !important;
}

.text-normal {
    text-decoration: none;
    text-transform: none;
}

.text-sans {
    font-family: 'Montserrat', sans-serif;
}

.text-featured {
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
}

.text-highlight {
    display: inline-block;
    padding-right: .25rem;
    padding-left: .25rem;
    background-color: yellow;
}

.text-skewed {
    transform: skew(0deg, -1.5deg);
}
